html {

}

body {
  font-family: 'Vollkorn', serif;
  font-family: 'Unica One', cursive;
}

/* Header */
@media only screen and (min-width: 760px) {
  header {
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    color: white;
    background: gray;
    opacity: .6;
    border-bottom: solid .05rem black;
  }

  header .row {
    display: flex;
    margin: 0px;
  }

  header .row img {
    margin-left: 20px;
  }

  header .row h1 {
    margin-left: 40px;
    font-size: 1.75rem;
    font-weight: bold;
  }
}

@media only screen and (max-width: 760px) {
  header {
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    color: white;
    background: gray;
    opacity: .6;
    border-bottom: solid .05rem black;
  }

  header .row {
    display: flex;
    margin: 0px;
  }

  header .row img {
    display: none;
  }

  header .row h1 {
    margin-left: 40px;
    font-size: 1.75rem;
    font-weight: bold;
  }
}

/* Desktop Nav */
@media only screen and (min-width: 620px) {
  nav {
    display: flex;
    align-items: center;
  }

  nav li {
    list-style: none;
    margin-right: 48px;
    font-size: 1.25rem;
  }

  a {
    text-decoration: none;
    color: darkblue;
    font-weight: bold;
  }
}

@media only screen and (max-width: 620px) {
  nav {
    display: flex;
    align-items: center;
  }

  nav li {
    list-style: none;
    margin-right: 48px;
    font-size: 1.25rem;
  }

  a {
    text-decoration: none;
    color: darkblue;
    font-weight: bold;
  }
}

/* Body */

/* Banner */
.jumbotron {
  margin-bottom: 0px;
}

video {

}

/* Content */
.content {
  background-color: gray;
  width: 100%;
  height: 400px;
  border-top: 2px solid black;
  display: flex;
  font-size: 1.95rem;
  text-align: center;
  align-items: center;
}

.content p {
  border-top: solid 1rem black;
  border-bottom: solid 1rem black;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

/* Feature */
@media only screen and (min-width: 720px) {
  .tabproj {
    display: none;
  }

  .feature {
    background-color: blue;
    width: 100%;
    height: auto;
    border-top: 2px solid black;
  }

  .row {
    display: flex;
    justify-content: space-around;
    margin: 1rem;
  }

  .feature ul {
    display: inline-flex;
    height: auto;
  }

  .feature li {
    display: flex;
    justify-content: space-around;
    margin: 1rem;
  }
}

@media only screen and (max-width: 720px) {
  .deskproj {
    display: none;
  }

  .feature {
    background-color: blue;
    width: 100%;
    height: auto;
    border-top: 2px solid black;
  }

  .row {
    display: flex;
    justify-content: space-around;
    margin: 1rem;
  }

  .feature ul {
    display: inline-flex;
    height: auto;
  }

  .feature li {
    display: flex;
    justify-content: space-around;
    margin: 1rem;
  }
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  font-size: 1.25rem;
}

footer h3:nth-child(2) {
  margin-left: 15px;
  margin-right: 15px;
}
